.show-sub {
    height: 200px;
    background-color: #fff;
    color: #333;
    overflow-y: scroll;
}
.show-sub > span{
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 8px 100px 8px 10px;
    position: relative;
}
.show-sub > span > div {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 16px;
    display: block;
    height: 100%;
    width: 80px;
    color: #fff;
    z-index: 10;
}
.button_save{
    margin: 5px 0px 0px 3px;
    height: 30px;
    padding: 5px;
    width: 65px;
    text-align: center;
    background: #ff6600 !important;
    cursor: pointer;
    border-radius: 10px;
}

.show-sub > span >div p {
    margin-top: 30px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}